<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi {{ username }} Welcome to the Home Page.</h1>
    
    <button onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
    <button onclick="window.location.href='{{ url_for('create') }}'">Create New Item</button>
    
    <h2>Your Items:</h2>

    <ul>
        {% for item in tasks %}
            <li>
                {{ item.text }}
                <form action="{{ url_for('delete', id=item.id) }}" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    


</body>
</html>