<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager – Logg inn</title>
    <link rel="stylesheet" href="../static/styles/login.css">
</head>

<body>
    <form action="/login" method="POST"class="kort">
        <div class="topp">
            <div class="logo" aria-hidden="true"></div>
            <div>
                <h1>Task Manager</h1>
                <p>Logg inn for å fortsette.</p>
            </div>
        </div>

        <div class="felt">
            <label>Navn</label>
            <div class="input">
                <input type="text" placeholder="Ditt navn" autocomplete="off" name="brukernavn" required>
            </div>
        </div>

        <div class="felt">
            <label>Passord</label>
            <div class="input">
                <input type="password" minlength="8" placeholder="••••••••" autocomplete="off" name="passord" required>
            </div>
        </div>

        <button class="knp" type="submit">Logg inn</button>

        <div class="bunn">
            Har du ikke konto? <a href="/registrer">Opprett</a>
        </div>
    </form>
</body>
</html>




