<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager – Registrer</title>
    <link rel="stylesheet" href="../static/styles/register.css">
</head>

<body>
    <form action="/register" method="post">
      <div class="card">
        <h1>Registrer</h1>
        <p>Opprett en konto for å komme i gang.</p>

        <div class="field">
          <label>Navn</label>
          <input type="text" placeholder="Ditt navn" required name="username">
        </div>

        <div class="field">
          <label>Passord</label>
          <input type="password" minlength="8" placeholder="Minst 8 tegn" required name="password">
        </div>

        <div class="field">
          <label>Bekreft passord</label>
          <input type="password" minlength="8" placeholder="Gjenta passord" required>
        </div>

        <button>Opprett konto</button>

        <div class="small">
          Har du allerede konto?
          <a href="/login">Logg inn</a>
        </div>
      </div>
    </form>
</body>
</html>





