<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager – Velkommen</title>
    <link rel="stylesheet" href="static/styles/velkommen.css">
</head>

<body>
    <div class="kort">
        <div class="logo"></div>   
        <h1>Velkommen</h1>
        <p>
            Planlegg oppgaver, følg fremdrift  
            og hold alt under kontroll.
        </p>

        <div class="knapper">  
            <a href="/login" class="knp login">Logg inn</a>
            <a href="/registrer" class="knp registrer">Registrer</a>
        </div>
    </div>
</body>
</html>

