<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/welcoming.css">
</head>
<body>
    <!--Welcomer to the Application! Please <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a>.-->


<style>

</style>
</head>

<body>
  <div class="card">
    <div class="logo"></div>

    <h1>Velkommen</h1>
    <p>
      Planlegg oppgaver, følg fremdrift  
      og hold alt under kontroll.
    </p>

    <div class="buttons">
      <a href="/login" class="btn login">Logg inn</a>
      <a href="/register" class="btn register">Registrer</a>
    </div>
  </div>
</body>
</html>


